body{
    content: "";
    height: 100%; 
    width:100%;
    background-image: url("../images/crystal-wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#container{
    width: 80%;
    padding:20px;
    padding-top: 40px;
    margin:0 auto;
    /* opacity: 1; */
    /* background-image: url("../images/crystal-wall.jpg"); */

}
#header{
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mina', sans-serif;;
    text-align: center;
    height: 50px;
    color: purple;
    padding:20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius:10px;

}
#rules{
    font-family:  'Mina', sans-serif;
    font-size:18px;
    /* background: transparent; */
    background-color: silver;
    color:blue;
    padding-left: 40px;
    padding-top:40px;
    padding-bottom: 40px;
    height: auto;
    border-style: solid;
    border-color:purple;
    border-width: 2px;
    border-radius:10px;
    font-weight: bold;
    position: relative;
}
section{
    width:100%;
    text-align: center;
}
section div{
    width: calc(100%/3);
    display: inline-block;
    vertical-align: top;
    margin:2%;
    padding: 20px;
}
#random{
    margin:20px;
    margin-left: 0px;
    width:auto;
    /* background-color: white; */
    background-color: silver;
    padding:30px;
    padding-top:40px;
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:purple;
    height:auto;
    border-style: solid;
    border-color: purple;
    border-width: 2px;
    border-radius:10px;

}
#wins{
    float: left;
}
#loses{
    float:right;
    padding-right: 10px;
}
#score{
    text-align: center;
    padding:10px;
}
#result{
    margin:20px;
    margin-right: 0px;
    width:auto;
    /* background-color: white; */
    background-color: silver;
    padding:30px;
    padding-top:40px;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:purple;
    height:auto;
    border-style: solid;
    border-color:purple;
    border-width: 2px;
    border-radius: 10px;
}
#result div{
    width: calc(100%/3);
    display: inline-block;
    vertical-align: top;
    margin:2%;
    padding: 20px;
}
#img-container{
    padding:20px;
    text-align: center;
    width:50%;
    display: block;
    height:auto;
    margin: 0 auto;
}
#img-container img{
    width: calc(100%/4);
    display: inline-block;
    vertical-align: top;
    width:60px;
    height:60px;
    background-color: white;
    margin:1%;
    border-radius: 5px;
}
